<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}TaskPlanner{% endblock %}</title>
    {% block stylesheets %}
       {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}<div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
</div>{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
