<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('bundles/framework/css/bootstrap.css') }}" rel="stylesheet">{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %} <script src="{{ asset('bundles/framework/js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/framework/js/bootstrap.min.js') }}" type="text/javascript"></script>{% endblock %}
    </body>
</html>
