<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Task Planner{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}

    <input id="taskInput" placeholder="Place your task here"><br>
    <input id="priority" placeholder="Priority 1-10"><br>
    <button id="addTaskButton" class="btn btn-primary">Add task</button>
    Tasks to finish: <span id="counter"></span>


    <ul id="taskList">
    </ul>

    <button id="removeFinishedTasksButton">Remove finished tasks</button>
    <div class=""

{% endblock %}
{% block javascripts %}
    <script src="../../../../web/bundles/framework/js/app.js" type="text/javascript"></script>{% endblock %}
</body>
</html>
